<nav class="navbar">
  <a href="/" class="logo">
    <img src="/public/images/logo.png" alt="Logo"></a>
  <button class="navbar-toggle">&#9776;</button>
  <ul class="navbar-links" id="menu">
    <li>
      <a href="/stekjes">Stekjes</a>
    </li>
    <li>
      <a href="#">Zaden</a>
    </li>
    <li>
      <a href="#">Geveltuin</a>
    </li>
    <li>
      <a href="#">Agenda</a>
    </li>
    <li>
      <a href="#">Partners</a>
    </li>
    <li>
      <a href="#">Contact</a>
    </li>
  </ul>
</nav>