<nav id="navbar" class="navbar">
  <button class="navbar-toggle">
    <span class="hamburger"></span>
  </button>

  <div class="navbar-brand">
    <img src="/images/logo.png" alt="FDND Logo" class="navbar-logo">
    <span class="navbar-text">{{ title }}</span>
  </div>

  <a href="#"id="">Agenda</a>
  <a href="#"id="">Partners</a>
  <a href="#"id="">Over</a>
  <a href="#"id="">Contact</a>

</nav>
