/* Navbar */
.navbar {
  background-color: #2b6b50;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar {
  .logo {
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
  }
  .logo img {
    height: 40px;
    margin-right: 10px;
  }
  .navbar-toggle {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    display: block;
  }
  .navbar-links {
    list-style: none;
    padding: 10px 0;
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #2b6b50;
    position: absolute;
    top: 60px;
    left: 0;
    text-align: center;
    li {
      margin: 10px 0;
      a {
        color: white;
        text-decoration: none;
        font-size: 18px;
        transition: color 0.3s;
        &:hover {
          color: #f0a500;
        }
      }
    }
  }
  .navbar-links.active {
    display: flex;
  }
  @media (min-width: 768px) {
    .navbar-toggle {
      display: none;
    }
    .navbar-links {
      display: flex;
      flex-direction: row;
      position: static;
      width: auto;
      background: none;
      padding: 0;
      margin: 1em 0em;
    }
    .navbar-links li {
      margin: 0 15px;
    }
  }
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  background-color: #f2deab;
  padding: 3em 1em 3em 1em;
  gap: 30px;
  border-radius: 20px 20px 0px 0px;
  z-index: 30;

  @media screen and (min-width: 740px) {
    flex-direction: row;
    padding: 4em 3em 7em 3em;
    justify-content: space-between;
  }

  @media screen and (min-width: 1000px) {
    flex-direction: row;
    padding: 5em 6em 5em 6em;
    justify-content: space-between;
  }

  @media screen and (min-width: 1200px) {
    padding: 5em 8em 5em 8em;
  }
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  background-color: #f2deab;
  padding: 3em 1em 3em 1em;
  gap: 30px;
  border-radius: 20px 20px 0px 0px;
  z-index: 30;

  @media screen and (min-width: 740px) {
    flex-direction: row;
    padding: 4em 3em 7em 3em;
    justify-content: space-between;
  }

  @media screen and (min-width: 1000px) {
    flex-direction: row;
    padding: 5em 6em 5em 6em;
    justify-content: space-between;
  }

  @media screen and (min-width: 1200px) {
    padding: 5em 8em 5em 8em;
  }
}

.menu ul {
  list-style-type: none;
  padding: 0em 1em 0em 0em;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menu-items li a {
  text-decoration: none;
  color: var(--text-darkgreen);
}

.menu-items li a:hover {
  color: var(--button-hover);
}

@media screen and (min-width: 740px) {
  .menu {
    width: 15%;
  }
}

@media screen and (min-width: 740px) {
  .samenwerken {
    width: 35%;
  }
}

.samenwerken a:hover {
  color: var(--button-hover);
}
